﻿@model Valtech.Templates.SalesLifeOnline.Models.ViewModels.ContentRenderingErrorModel
<div class="alert alert-error">
    <p class="heading">@string.Format(Html.Translate("/renderingerror/heading"), Model.ContentTypeName, Model.ContentName)</p>
    <p class="details">
        <strong>@Model.Exception.Message</strong><br/>
        @Model.Exception.StackTrace
    </p>
</div>
