﻿@model Valtech.Templates.SalesLifeOnline.Models.Pages.ContactPage

<p>
@if(Model != null) 
{
    @Model.PageName<br />
    @Html.Translate("/contact/phone")@: : @Model.Phone<br />
    @Html.Translate("/contact/email")@: : @Html.DisplayFor(m => m.Email)
} 
else
{
    @Html.Translate("/contact/noneselected")  
}
</p>