﻿@using Valtech.Templates.SalesLifeOnline
@model Valtech.Templates.SalesLifeOnline.Models.ViewModels.PageViewModel<Valtech.Templates.SalesLifeOnline.Models.Pages.LandingPage>
<div class="campaign-wrapper">
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })
</div>
