﻿@model Valtech.Templates.SalesLifeOnline.Models.Pages.ContactPage

<div class="border">
    <img src="@Url.ContentUrl(Model.PageImage)" />
    <h2>@Model.PageName</h2>
    <p>@Model.TeaserText</p>
    <p>
        @Html.Translate("/contact/email"): @Html.DisplayFor(x => x.Email)<br />
        @Html.Translate("/contact/phone"): @Model.Phone
    </p>
</div>